# Pandas Basics Part 2 — Workbook

In this lesson, we're going to introduce some more fundamentals of [Pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html), a powerful Python library for working with tabular data like CSV files.

___

## The Trans-Atlantic Slave Trade Database

"[D]isplaying data alone could not and did not offer the atonement descendants of slaves
sought or capture the inhumanity of this archive’s formation."

— Jessica Marie Johnson, <a href="https://read.dukeupress.edu/social-text/article/36/4%20(137)/57/137032/Markup-BodiesBlack-Life-Studies-and-Slavery-Death">“Markup Bodies”</a>

The dataset that we're going to be working with in this lesson is taken from [The Trans-Atlantic Slave Trade Database](https://www.slavevoyages.org/voyage/database), part of the [*Slave Voyages* project](https://www.slavevoyages.org/). The larger database includes information about 35,000 slave-trading voyages from 1514-1866. The dataset we're working with here was filtered to include the 20,000 voyages that landed in the Americas. The data was filtered to also include the percentage of enslaved men, women, and children on the voyages.

___

## Import Pandas

To use the Pandas library, we first need to `import` it.

In [1]:
import pandas as pd

## Change Display Settings

By default, Pandas will display 60 rows and 20 columns. I often change [Pandas' default display settings](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) to show more rows or columns.

In [2]:
pd.options.display.max_rows = 200

## Get Data

In [2]:
slave_voyages_df = pd.read_csv('../data/Trans-Atlantic-Slave-Trade_Americas.csv', delimiter=",", encoding='utf-8')

In [ ]:
slave_voyages_df

This creates a Pandas [DataFrame object](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html#DataFrame) — often abbreviated as *df*, e.g., *slave_voyages_df*. A DataFrame looks and acts a lot like a spreadsheet. But it has special powers and functions that we will discuss in the next few lessons.

## Overview

To look at the first *n* rows in a DataFrame, we can use a method called `.head()`.

In [ ]:
slave_voyages_df.head(10)

Generate information about all the columns in the data

In [ ]:
slave_voyages_df.info()

Just like Python has different data types, Pandas has different data types, too. These data types are automatically assigned to columns when we read in a CSV file. We can check these Pandas data types with the [`.dtypes` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).



| **Pandas Data Type** |  **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `object`         | string                                                                               |
| `float64`         | float                                               |
| `int64`       | integer                                                        |
| `datetime64`       |  date time

Make a histogram of the DataFrame

In [ ]:
slave_voyages_df.hist()

In [ ]:
slave_voyages_df.hist(figsize=(10,10))

Generate descriptive statistics for all the columns in the data

In [ ]:
slave_voyages_df.describe()

In [ ]:
slave_voyages_df.describe(include='all')

## Missing Data

"Black digital practice requires researchers to witness and remark on the marked and unmarked bodies, the ones that defy computation, and **finds ways to hold the null vlaues up to the light.**"  
—Jessica Marie Johnson

### .isna() / .notna()

Pandas has special ways of dealing with missing data. As you may have already noticed, blank rows in a CSV file show up as `NaN` in a Pandas DataFrame.

To filter and count the number of missing/not missing values in a dataset, we can use the special `.isna()` and `.notna()` methods on a DataFrame or Series object.

In [ ]:
slave_voyages_df['percent_women'].notna()

In [36]:
not_blank_women = slave_voyages_df['percent_women'].notna()

To explicitly count the number of blank rows, we can use the `.value_counts()` method.

In [ ]:
slave_voyages_df['percent_women'].isna().value_counts()

To quickly transform these numbers into percentages, we can set the `normalize=` parameter to True.

In [ ]:
slave_voyages_df['percent_women'].isna().value_counts(normalize=True)

Because the `.count()` method always excludes NaN values, we can also count the number of values in each column and divide by the total number of rows in each column (`len()`) to find the percentage of not blank data in every column.

In [ ]:
slave_voyages_df.count() / len(slave_voyages_df)

## Sort Columns

We can sort a DataFrame with the `.sort_values()` method, inside of which we include the parameter `by=` and indicate the name of the column we want to sort by (written in quotation marks).

### ❓ Which voyages had the highest percentage of women on board?

In [ ]:
slave_voyages_df...

## Calculate Columns

We can do different calculations on columns with built-in Pandas functions. These calculations will ignore `NaN` values.

| Pandas calculations | Explanation                         |
|----------|-------------------------------------|
| `.count()`    | Number of observations    |
| `.sum()`      | Sum of values                       |
| `.mean()`     | Mean of values                      |
| `.median()`   | Median of values         |
| `.min()`      | Minimum                             |
| `.max()`      | Maximum                             |
| `.mode()`     | Mode                                |
| `.std()`      | Unbiased standard deviation         |

### ❓ What was the average percentage of women aboard the voyages?

In [ ]:
slave_voyages_df

### ❓ What was the highest percentage of women aboard the voyages?

In [ ]:
slave_voyages_df

### ❓ What was the average percentage of children aboard the voyages?

In [ ]:
slave_voyages_df

### ❓ What was the highest percentage of children aboard the voyages?

In [ ]:
slave_voyages_df

## Rename Columns

We can rename columns with the [`.rename()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) and the `columns=` parameter. For example, we can rename the "flag" column "national_affiliation."

In [ ]:
slave_voyages_df.rename(columns={'flag': 'national_affiliation'})

Renaming the "flag" column as above will only momentarily change that column's name, however. If we display our DataFrame, we will see that the column name has *not* changed permamently.

In [ ]:
slave_voyages_df.head(1)

To save changes in the DataFrame, we need to reassign the DataFrame to the same variable.

In [23]:
slave_voyages_df = slave_voyages_df.rename(columns={'flag': 'national_affiliation'})

In [ ]:
slave_voyages_df.head(1)

## Groupby Columns

The Pandas function`.groupby()` allows us to group data and perform calculations on the groups.

For example, Jennifer Morgan writes about how some nations recorded more information about the gender of the enslaved people aboard their voyages than other nations did. To see the breakdown of gender information by nation, we can use a `.groupby()` function.

### ❓ Which nation recorded the most information about gender?

To answer this question, you can use the `.groupby()` method and the `.count()` method, which will show you the number of non-blank values in each column.

In [32]:
slave_voyages_df...

"For example, patterns emerge that suggest that English slave ship captains provided the most data related to the age or sex characteristics of the captives they transported and sold into slavery...The degree to which the practice of recording the sex of the passengers on board accords to national origin raises some interesting questions about the possible correlations between certain notational and national presumptions of accountability."

-Jennifer Morgan, ["Accounting for 'The Most Excruciating Torment'"](https://read.dukeupress.edu/history-of-the-present/article-abstract/6/2/184/153282/Accounting-for-The-Most-Excruciating-Torment?redirectedFrom=PDF)

## Add Columns

To add a column, we simply put a new column name in square brackets and set it equal to whatever we want the new column to be.

For example, if we wanted to create new columns for the total women and men aboard each voyage, we could set them equal to the product of the "total_disembarked" column * the "percent_women" / "percent_men" columns.

In [9]:
slave_voyages_df['total_women'] = slave_voyages_df['total_embarked'] * slave_voyages_df['percent_women']

In [10]:
slave_voyages_df['total_men'] = slave_voyages_df['total_embarked'] * slave_voyages_df['percent_men']

If we scroll all the way to the right side of the DataFrame, we can see that these columns have been added.

In [24]:
slave_voyages_df.head(1)

,year_of_arrival,national_affiliation,place_of_purchase,place_of_landing,percent_women,percent_children,percent_men,total_embarked,total_disembarked,resistance_label,vessel_name,captain's_name,voyage_id,total_women,total_men
0,1520,NaN,Portuguese Guinea,San Juan,NaN,NaN,NaN,324.0,259.0,NaN,,NaN,42987,NaN,NaN

## Plots and Data Visualizations

In [24]:
slave_voyages_df.groupby('national_affiliation')['percent_women'].count()

national_affiliation
Denmark / Baltic      119
France                708
Great Britain        1123
Netherlands           200
Other                   0
Portugal / Brazil      42
Spain / Uruguay       468
U.S.A.                223
Name: percent_women, dtype: int64

In [25]:
nation_by_gender = slave_voyages_df.groupby('national_affiliation')['percent_women'].count()

In [ ]:
nation_by_gender.plot(kind='bar', title='Trans-Atlantic Slave Trade (Americas): \n Slave Voyages with Recorded Gender Information')

To make a time series, we would typically want to convert our date column into datetime values rather than integers. Since we're only working with year information, however, we can make some simple time series plots just by grouping by the year column and performing calculations on those year groupings.

In [ ]:
slave_voyages_df.groupby('year_of_arrival')['total_women'].sum()

In [14]:
total_women_by_year = slave_voyages_df.groupby('year_of_arrival')['total_women'].sum()

In [ ]:
total_women_by_year.plot()

In [ ]:
total_women_by_year.plot(kind='line', title="Trans-Atlantic Slave Trade (Americas):\nTotal Number of Enslaved Women on Voyages")

We can plot multiple columns at the same time by using two square brackets. For example, we can compare the total number of women and men aboard the voyages.

In [16]:
total_men_by_year = slave_voyages_df.groupby('year_of_arrival')['total_men'].sum()

In [ ]:
axis = total_women_by_year.plot(kind='line', legend= True, title="Trans-Atlantic Slave Trade (Americas):\nTotal Number of Enslaved Women on Voyages")
total_men_by_year.plot(ax=axis, legend=True)

In [ ]:
axis = total_women_by_year.plot(kind='line', label="Total Women", legend= True, title="Trans-Atlantic Slave Trade (Americas):\nTotal Number of Enslaved Women on Voyages")
total_men_by_year.plot(ax=axis, label="Total Men", legend=True)

In [28]:
total_embarked_by_year = slave_voyages_df.groupby('year_of_arrival')['total_embarked'].sum()

In [ ]:
axis = total_women_by_year.plot(kind='line', label="Total Women", legend= True, title="Trans-Atlantic Slave Trade (Americas):\nTotal Number of Enslaved Women on Voyages")
total_men_by_year.plot(ax=axis, label="Total Men", legend=True)
total_embarked_by_year.plot(ax=axis, label="Total Embarked", legend=True)